html {
  scroll-behavior: smooth; /* smooth scrolling */
}


.section {
  width: 100%;
  padding: 0; /* remove extra padding */
  margin: 0;  /* remove extra margin */
  display: block;
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
}
